<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div class="header">
        <h1>My Website</h1>
        <p>This is the page</p>
    </div>
    <div class="navigasi">
        <a href="">link 1</a>
        <a href="">link 2</a>
        <a href="">link 3</a>
    </div>
    <div class="content">
        <div class="left">
            <div class="card">
                <h2>Title Heading</h2>
                <h5>Title Description</h5>
                <div class="image">
                    <img src="wallpaper1.jpg" alt="">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti dolore ad rem tempora illum fugit natus nostrum dolor ut cupiditate.</p>
            </div>
            <div class="card">
                <h2>Title Heading</h2>
                <h5>Title Description</h5>
                <div class="image">
                    <img src="wallpaper1.jpg" alt="">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti dolore ad rem tempora illum fugit natus nostrum dolor ut cupiditate.</p>
            </div>
        </div>
        <div class="right">
            <h2>About Me</h2>
            <div class="image">
                <img src="wallpaper1.jpg" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, ex.</p>
            <div class="card">
                <h3>Popular</h3>
                <div class="image">
                    <img src="wallpaper1.jpg" alt="">
                    <img src="wallpaper1.jpg" alt="">
                </div>
                <p>Lorem, ipsum dolor.</p>
            </div>
        </div>
        <!-- <div class="clear" style="clear: both;"></div> -->
    </div> 
    <div class="footer">
        <p>Made with &hearts; by Johanes
        </p>
    </div>
</body>
</html>